@import url(https://fonts.googleapis.com/css?family=Rubik:300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
body,
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  font-family: 'Rubik';
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

p {
  margin: 0;
}

.btn {
  min-width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 36px;
}

.btn-full {
  background: #F8607F;
  color: #f5f5f5;
}

.btn-outline {
  border: 2px solid #F8607F;
  background: transparent;
  color: #F8607F;
  font-weight: 700;
}

.nav-bar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.nav-bar .logo {
  font-weight: 700;
  font-size: 25px;
  color: #004798;
}

.nav-bar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .menu li {
  margin: 0 20px;
}

.nav-bar .menu li a {
  color: #004798;
}

.title {
  padding-bottom: 10px;
  margin-bottom: 100px;
  position: relative;
  color: #004798;
  font-size: 48px;
  display: inline-block;
}

.title:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  background: #F8607F;
  bottom: 0;
  left: 0;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  background-image: url("./assets/hero_bg.png");
  background-position: 90% 40%;
  background-repeat: no-repeat;
  background-size: 56%;
}

.hero flexdire
.content {
  width: 50%;
}

.hero flexdire
.content h1 {
  margin-bottom: 30px;
  color: #004798;
}

.hero flexdire
.content p {
  line-height: 26px;
  margin-bottom: 50px;
  color: #516C8A;
}

.hero flexdire
.content .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero flexdire
.content .btn-group a:nth-child(2) {
  margin-left: 40px;
}

.services {
  margin-bottom: 184px;
  padding: 0 5%;
}

.services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .row .services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 398px;
  height: 250px;
  background: #f5f5f5;
  border-radius: 12px;
  margin: 18px;
  padding: 20px 66px;
  -webkit-transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.services .row .services-card:hover {
  -webkit-box-shadow: 0 15px 70px rgba(81, 108, 138, 0.25);
          box-shadow: 0 15px 70px rgba(81, 108, 138, 0.25);
}

.services .row .services-card .service-heading {
  color: #004798;
  margin-bottom: 10px;
  font-size: 20px;
}

.services .row .services-card .service-icon {
  background: white;
  width: 70px;
  height: 70px;
  margin-bottom: 13px;
  border-radius: 50%;
}

.services .row .services-card .service-desc {
  line-height: 26px;
  color: #516C8A;
}

.feature-one {
  min-height: 100vh;
  padding: 0 0% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 250px;
}

.feature-one .content {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  border-radius: 12px;
  -webkit-box-shadow: 0 15px 99px rgba(81, 108, 138, 0.25);
          box-shadow: 0 15px 99px rgba(81, 108, 138, 0.25);
}

.feature-one .content .literature {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feature-one .content .literature h1 {
  color: #004798;
  margin-bottom: 30px;
}

.feature-one .content .literature p {
  color: #516C8A;
  line-height: 26px;
  margin-bottom: 50px;
}

.feature-one .content .image {
  width: 50%;
  height: 100%;
  background: url("./assets/analytics_bg.png") no-repeat;
  background-size: contain;
}

.feature-two {
  height: 100vh;
  padding: 0 10% 0 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 250px;
}

.feature-two .content {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  border-radius: 12px;
  -webkit-box-shadow: 0 15px 99px rgba(81, 108, 138, 0.25);
          box-shadow: 0 15px 99px rgba(81, 108, 138, 0.25);
}

.feature-two .content .literature {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feature-two .content .literature h1 {
  color: #004798;
  margin-bottom: 30px;
}

.feature-two .content .literature p {
  color: #516C8A;
  line-height: 26px;
  margin-bottom: 50px;
}

.feature-two .content .image {
  width: 50%;
  height: 100%;
  background: url("./assets/mobile-testing.png") no-repeat;
  background-size: contain;
}

.pricing {
  padding: 0 5%;
}

.pricing .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.pricing .row .price-card {
  width: 398px;
  height: 544px;
  background: #f5f5f5;
  border-radius: 12px;
  margin: 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pricing .row .price-card .card-icon {
  width: 76px;
  height: 76px;
  background: white;
  margin-bottom: 20px;
  border-radius: 50%;
}

.pricing .row .price-card h3 {
  color: #004798;
}

.pricing .row .price-card .card-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.pricing .row .price-card .card-price {
  font-size: 32px;
  color: #F8607F;
}

.pricing .row .price-card .card-body {
  color: #516C8A;
  margin-bottom: 50px;
}

.pricing .row .price-card .card-body li {
  margin-top: 18px;
}

.pricing .row .price-card:hover {
  -webkit-box-shadow: 0 15px 70px rgba(81, 108, 138, 0.25);
          box-shadow: 0 15px 70px rgba(81, 108, 138, 0.25);
}

.testimonials {
  margin-top: 250px;
  padding: 0px 0px 0px 5%;
}

.testimonials .carousel {
  height: 80vh;
}

.testimonials .carousel .client-card {
  margin: 0 22px;
  width: 674px;
  height: 436px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 180px;
  border-radius: 12px;
}

.testimonials .carousel .client-card .client-pic {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 6px solid #004798;
}

.testimonials .carousel .client-card .client-name {
  font-size: 16px;
  color: #004798;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonials .carousel .client-card .client-occ {
  opacity: .3;
  margin-bottom: 30px;
}

.testimonials .carousel .client-card .client-comment {
  line-height: 26px;
  color: #516C8A;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10%;
  background: url("./assets/contact_bg.png") no-repeat right;
  background-size: contain;
}

.contact h1 {
  margin-bottom: 20px;
  font-size: 64px;
}

.footer {
  text-align: center;
  padding: 40px;
  background: #516C8A;
  font-weight: 300;
  color: #f5f5f5;
  text-transform: capitalize;
}

@media screen and (max-width: 375px) {
  .title {
    margin-bottom: 30px;
  }
  .nav-bar .menu {
    display: none;
  }
  .hero {
    background: none;
    padding: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    text-align: left;
  }
  .hero .content {
    width: 100%;
  }
  .hero .content h1 {
    font-size: 42px;
    color: #004798;
    margin-bottom: 30px;
  }
  .hero .content .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .content .btn-group a {
    margin: 20px auto;
  }
  .hero .content p {
    color: #516C8A;
    margin-bottom: 40px;
    line-height: 22px;
  }
  p {
    line-height: 22px;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 5%;
    margin-bottom: 50px;
  }
  .services .row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services .row .services-card {
    margin: 18px  auto;
    width: 320px;
    height: 300px;
    padding: 0 33px;
  }
  .feature-one {
    padding: 10% 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .feature-one .content {
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5%;
  }
  .feature-one .content .literature {
    width: 100%;
  }
  .feature-one .content .image {
    display: none;
  }
  .feature-two {
    padding: 10% 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature-two .content {
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  .feature-two .content .literature {
    width: 100%;
  }
  .feature-two .content .image {
    display: none;
  }
  .pricing {
    padding: 0 5%;
  }
  .pricing .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pricing .row .price-card {
    width: 340px;
    height: 544px;
    margin: 23px 0;
  }
  .testimonials {
    margin-top: 100px;
  }
  .testimonials .carousel {
    min-height: 80vh;
    margin-top: 50px;
  }
  .testimonials .carousel .client-card {
    width: 360px;
    height: 350px;
    padding: 20px;
  }
}
